doctype html

html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    block title
      title= `${typeof title === 'undefined' ? '' : `${title} - `}$ make now just`
    link(rel='stylesheet', href=`${baseURL}/css/index.css`)
  body
    header
      h1
        a(href=`${baseURL}/`) $ make now just
    main
      block main
    footer
      small &copy; 2016 TSUYUSATO "MakeNowJust" Kitsune
