.container {
  max-width: 860px;
  margin: 0 auto;
}

.posts {
  margin-left: 0;
}

.post {
  display: block;
  margin-bottom: 1.55rem;
  padding: 0 0.5rem 1.55rem;
  border-bottom: 1px solid black;
}
