/* == reset.css == */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address,
cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1.3;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* == highlight.js == */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #002b36;
  color: #839496;
}

.hljs-comment,
.hljs-quote {
  color: #586e75;
}

/* Solarized Green */
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #859900;
}

/* Solarized Cyan */
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #2aa198;
}

/* Solarized Blue */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #268bd2;
}

/* Solarized Yellow */
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #b58900;
}

/* Solarized Orange */
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #cb4b16;
}

/* Solarized Red */
.hljs-built_in,
.hljs-deletion {
  color: #dc322f;
}

.hljs-formula {
  background: #073642;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/* == page == */

html, body {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-feature-settings: "pwid" 1;
  color: #4a4a4a;
  background: #fefefe;
}

header, footer,
.article-list, .article-header, .article-footer, .article-content > *,
#disqus_thread {
  margin: 1em auto;
  max-width: 720px;
  width: 95%;
}

header, footer {
  text-align: center;
}

/* == header == */

header {
  padding: 13rem 0;
}

header > h1 {
  font-size: 3rem;
  font-family: 'NovaMono', 'Monaco', monospace;
}

header > h1 > a {
  text-decoration: none;
}

/* == footer == */

footer {
  padding: 4rem 0 1rem 0;
}

/* == article == */

.article-header > .time {
  margin: 0.5rem 0;
}

.article-header > h1 {
  font-size: 1.9rem;
}

.article-content {
  margin: 2rem 0;
}

/* == time == */

time {
  background: #4a4a4a;
  color: #fefefe;
  border: 2px solid #4a4a4a;
  border-radius: 3px;
  text-decoration: none;
  margin: 0 1em 0 0;
  padding: 0 0.5em;
}

/* == content == */

/* p */

.article-content p {
  margin: 1.2rem auto;
}

/* == h1, h2, h3 ... == */

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  margin: 1.2rem auto;
}

.article-content h1 {
  font-size: 1.8rem;
}

.article-content h2 {
  font-size: 1.5rem;
}

.article-content h3 {
  font-size: 1.4rem;
}

.article-content h4 {
  font-size: 1.3rem;
}

.article-content h5 {
  font-size: 1.2rem;
}

.article-content h6 {
  font-size: 1.1rem;
}

/* == a == */

a {
  color: #4a4a4a;
  transition: color .3s 0s;
  text-decoration: underline;
}

a:hover {
  color: #57a3e8;
}

/* == pre, code == */

.article-content pre {
  background: #4a4a4a;
  width: 100%;
  max-width: 100%;
  padding: 0.5em 0;
  margin: 0.5em 0;
}

.article-content pre > code {
  background: #4a4a4a;
  color: #fefefe;
  display: block;
  margin: 0 auto;
  padding: auto auto;
  max-width: 95%;
  width: 720px;
}

code {
  padding: 2px 4px;
  color: #f73434;
  background: #f7f7f7;
}

/* == img == */

img {
  max-width: 100%;
  height; auto;
}

/* == list == */

ul, ol {
  list-style-position: inside;
}

.article-content ul > li, .article-content ol > li {
  margin: 0.3rem 0 0.3rem 2rem;
}

/* == iframe == */

.article-content iframe {
  display: block;
}
