extends /layout/default

block main
  div.article-list
    ul
      - for (const {date, title, url} of locals.articles)
        li
          a(href=url)
            time(datetime=date.format())= date.format('YYYY/MM/DD')
            = title
