@import '../styles/variables';

.container {
  padding: 10rem 0;
}

.nav-bar {
  width: 100%;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-color: $white;
}

.nav-bar-title {
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
  font-family: $code-font-family;
  font-size: 1.2rem;

  > a {
    color: $black;
  }
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;

  ul {
    max-width: 100%;
    padding: 0.5rem 1rem;
    margin: 0;
    font-size: 1.2rem;

    li {
      display: inline-block;
      padding-right: 1rem;

      a:hover {
        border-bottom: 1px solid;
      }
    }
  }
}

.title {
  font-family: $code-font-family;
  text-align: center;

  // stylelint-disable-next-line no-descending-specificity
  > a {
    color: $black;
  }
}

.quote {
  text-align: center;
}
