.container {
  width: auto;
  max-width: 860px;
  margin: auto;
  text-align: center;
  overflow-x: auto;
}

$active-colors: #c6e48b, #7bc96f, #239a3b, #196127;

.active {
  cursor: pointer;
}

@each $color in $active-colors {
  $i: list.index($active-colors, $color) - 1;
  .active#{$i} {
    fill: $color;
    background-color: $color;
  }
}

.inactive {
  fill: #ebedf0;
  background-color: #ebedf0;
}

.text {
  font-size: 10px;
  user-select: none;
}

.legend {
  display: block;
  font-size: 12px;
  text-align: right;
  user-select: none;

  li {
    display: inline-block;
    margin: 0 1px;
  }

  .box {
    width: 1em;
    height: 1em;
  }
}
