@import '../styles/variables';

.paginator {
  display: block;
  // It is the same as `<h3>` font size.
  font-size: $base-font-size * ((($scale-ratio - 1) * (7 - 3) / 6) + 1);
  margin: 0 auto $base-line-height auto;
  max-width: $max-content-width;
  text-align: right;
}

.previous-link {
  display: inline-block;
  padding-right: 0.5em;
}

.next-link {
  display: inline-block;
  padding-left: 0.5em;
}
