@import '../styles/variables';

.paginator {
  display: block;
  max-width: $max-content-width;
  padding: 0 0.5rem;
  margin: 0 auto $base-line-height * 1rem auto;
  // It is the same as `<h3>` font size.
  font-size: $base-font-size * (math.div(($scale-ratio - 1) * (7 - 3), 6) + 1);
  text-align: right;
}

.prev-link {
  display: inline-block;
  padding-right: 0.5em;
}

.next-link {
  display: inline-block;
  padding-left: 0.5em;
}
