name: gh-pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24.13.1'
          cache: npm
      - run: npm install
      - run: |
          set -eux
          npm run build
          touch public/.nojekyll
        env:
          ALGOLIA_APP_ID: N8H0FCYD7M
          ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
          ALGOLIA_SEARCH_API_KEY: bf4822cb6b0577a3dd593af29478fa8f
      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          allow_empty_commit: false
